<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/css-links:: cssLinks"/>
</head>
<body>
<div th:replace="fragments/header:: header"></div>
<div class="container offset-md-2">

    <div class="col-8 mt-lg-5">
        <form action="#" th:action="@{/tasks/create}" th:object="${task}" method="post">
            <h2>Create New Task</h2>
            <div class="input-group-append">
                    <input type="text" th:field="*{description}" id="description" class="form-control"
                           placeholder="Enter task description here"/>
                    <input type="submit" value="Add task" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>
<div th:replace="fragments/footer:: footer"></div>
</body>
</html>
