<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <div th:replace="fragments/css-links:: cssLinks"/>
</head>
<body>
<div th:replace="fragments/header:: header"></div>
<div class="container">
    <h4>The Users</h4>

    <div class="col-8 offset-2">


        <div class="row mb-2">
            <a class="btn btn-primary col-md-2" th:href="@{/registration/user-form}">Add User</a>
            <div class="col-md-10">
            <form th:action="@{/users}">
                <div class="input-group-append">
                    <input type="text" name="firstName" class="form-control"
                           placeholder="Enter name to search">
                    <input type="submit" value="Search" class="btn btn-primary">
                </div>
            </form>
        </div>
        </div>
    <table class="table table-bordered">
        <thead>
        <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email Address</th>
       <th colspan="2">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user: ${users}">

        <td th:text="${user.firstName}"></td>
        <td th:text="${user.lastName}"></td>
        <td th:text="${user.email}"></td>
        <td>
        <a th:href="@{/users/profile(email=${user.email})}">view</a>
        </td>
        <td>
            <a th:href="@{/tasks(email=${user.email})}">Assign task to user</a></td>
        </tr>

        </tbody>
    </table>
    </div>
</div>
</body>
</html>