<!DOCTYPE html>
<html lang="en">
<head>
    <title>User Security Demo</title>
  <!--  <link rel="stylesheet" href="../../static/css/materia/bootstrap.min.css"
          th:href="@{/css/materia/bootstrap.min.css}">
    <link rel="stylesheet" href="../../static/css/styles.css"
          th:href="@{/css/styles.css}">
    <script th:src="@{webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{webjars/bootstrap/bootstrap.min.js}"></script>-->

</head>
<body>
<!--<div th:replace="fragments/header:: header"></div>

<div layout: fragment="content">


</div>

<div th:replace="fragments/footer:: footer"></div>-->
</body>
</html>