<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Spring Security Tutorial</title>
    <!--<link rel="stylesheet" type="text/css" th:href="@{/css/login.css}" />-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>

<div class="container">
    <div class="col-md-8 mt-lg-5">
        <p class="alert alert-success"> You have been successfully registered
             you may
        <a th:href="@{/users/login}" class="text text-danger">Login</a>
           here to continue
        </p>
    </div>
</div>
</body>
</html>